.cau {
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 5px;
  border-left: 5px solid #007bff;
  max-width: 600px;

  .cau1 {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    text-align: justify;
  }
  .cau1::before {
    content: "“";
    font-size: 60px;
    color: #aab4be;
    position: absolute;
    top: -10 px;
    left: -40px;
    line-height: 1;
  }

  .cau1::after {
    content: "”";
    font-size: 60px;
    color: #aab4be;
    position: absolute;
    right: 1px;
  }

  .cau1::first-letter {
    font-family: Georgia, serif;
    font-size: 50px;
    color: #1f75b3;
    float: left;
    line-height: 0.8;
    margin-right: 8px;
    margin-top: 4px;
    font-weight: bold;
  }

  .cite {
   text-align: right;
    font-style: italic;
    color: #555;
  }
}
